{{#bs-modal onSubmit=(action "authenticate") onHide=(action "closeLoginModal") as |modal|}}
    {{#modal.header}}
        <h4 class="modal-title"><i class="glyphicon glyphicon-alert"></i> Log In</h4>
    {{/modal.header}}
    {{#modal.body}}
        {{#bs-form onSubmit=(action "authenticate") as |form|}}
            {{#form.group }}

                <label for="identification" class="control-label">Login Email</label>
                {{input id='username' class="form-control" placeholder='Enter Email' value=identification}}
                <br>
                <label for="password" class="control-label">Password</label>
                {{input id='password' class="form-control" placeholder='Enter Password' type='password' value=password}}

                {{#if errorMessage}}
                    <p>{{!--errorMessage--}}</p>
                {{/if}}
            {{/form.group}}
        {{/bs-form}}
    {{/modal.body}}
    {{#modal.footer as |footer|}}
        {{#bs-button onClick=(action "registerNew") type="info" class="pull-left"}}Register{{/bs-button}}
        {{#bs-button onClick=(action "closeLoginModal") type="danger"}}Cancel{{/bs-button}}
        {{#bs-button onClick=(action "authenticate") type="success"}}Log in{{/bs-button}}
    {{/modal.footer}}
{{/bs-modal}}
