

<div class="container-fluid music-table">
{{#if error}}
    <h3 style="color:red">A loading derp has occurred</h3>
{{/if}}

{{notification-container position="bottom-left"}}
{{admin-actions}}
{{tracks/models-table data=model}}


</div>

    
