
@import "ember-bootstrap/bootstrap";
@import "pageHeader.scss";
//@import "ember-power-select";

/*
*Writing everything here because im a lazy slob and can't be bothered to import
*/
body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
    //background-color: rgb(228, 231, 234);
    overflow-x: hidden;
}
.container-fluid {
    padding-left:0;
    padding-right: 0;
}

.container-parallax{
    height: 65vh;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;


  }

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
.bgimg-1 {
    background-image: url("../../concert-main.jpg");
    min-height: 75vh;

}
  
.bgimg-2 {
    background-image: url("../../img_parallax3.jpg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("../../img_parallax.jpg");
    min-height: 400px;
}
.bgimg-4{
    background-image: url("../../img_parallax4.jpg");
    min-height: 650px;
}

.caption {
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    text-align: center;
    color: #000;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}


.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  .arrow_down{
    display:inline;
}

.JEM-wrapper{
    margin-left: 5%;
    h1{
        font-size: 8em;
        display: inline;
    };
    .java{
        color:red;
        display: inline;
    };
    .ember{
        color: orange;
        display: inline;
    };
    .mysql{
        color:blue;
        display: inline;
    };
}

.music-table{
    padding-left: 3%;
    padding-right: 3%;
    margin-right: 3%;
}
.route-selector{
    text-align: center;
    min-height: 400px;
    position: absolute;

    top: 60vh;
    left: 25vw;
    .col-sm{
        opacity: 1;
        border: 1px solid black;
        margin: 2%;
    }
}

.loader-icon{
    position: absolute;
    top: 8vh;
    left:45vw;
}

.pull-left{
    text-align: left;
    position: absolute;
    left: 10px;
}

.pull-right{
    text-align: left;
    position: absolute;
    right: 10px;
}
.text-center{
    text-align: center;
}

.page-logo{
    margin-left: 3vw;
    margin-top: 2vh;
    width: 250px;
    height:auto;
    cursor: pointer;
}

.nav-text{
    cursor: pointer;
    height: 100%;
    //background-color: #fff;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}
.nav-text {
    a {
        text-decoration: none;
        color: #777;
    }

    a:hover {
        background-color: transparent;
    }
}
.nav-text:hover{
    min-height: 75%;
    background-color: rgba(177, 177, 177, 0.65);
}

.in-modal-dropdown {
    z-index: 2000;
}

.loading{
    color:red !important;
    opacity: 0.3;
}
.loaded{
    opacity: 1;
}

.top{
    position: relative;
    top: 3vh;
    left: 47vw;

}

.register-container{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 3%;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

@import "ember-power-select";
