<h1 {{action "transitionTo"}}>GO BACK HOME</h1>

{{models-table 
data=model 
columns=columns
themeInstance=themeInstance
showGlobalFilter=false
expandedRowComponent=(component "expanded-row")
}}

