{{#if error}}
    <h3 style="color:red">A loading derp has occurred</h3>
{{/if}}

<div class="container-fluid music-table">
    {{table-title "albums"}}
{{models-table 
    data=model 
    columns=columns
    themeInstance=themeInstance
    showGlobalFilter=false
    expandedRowComponent=(component "expanded-row")
}}
</div>
{{#if loading}}
    {{loader-icon}}
{{/if}}


