<div class="container-fluid" class="index-main-img">
    <div class="JEM-wrapper">
        <div class="row">
            <div class="col-xl-12">
                <h1 class="JEM">J</h1>
                <h2 class="java">ava</h2>
            </div>
        </div>
            <div class="row">
            <div class="col-xl-12">
                <h1 class="JEM">E</h1>
                <h2 class="ember">mber</h2>
            </div>
        </div>
            <div class="row">
            <div class="col-xl-12">
                <h1 class="JEM">M</h1>
                <h2 class="mysql">ySQL</h2>
            </div>
        </div>
    </div>
</div>


<div class="container route-selector">
    <div class="row">
        <div class="col-sm" {{action "transitionTo" "tracks"}}>
            TRACKS
        </div>
        <div class="col-sm" {{action "transitionTo" "albums"}}>
            ALBUMS
        </div>
        <div class="col-sm" {{action "transitionTo" "artists"}}>
            ARTISTS
        </div>
    </div>
</div>