<div class="container-fluid container-parallax mx-0" class="index-main-img">
                

    <div class="bgimg-1">
           <!-- <div class="JEM-wrapper">
            <div class="row">
                <div class="col-xl-12">
                    <h1 class="JEM">J</h1>
                    <h2 class="java">ava</h2>
                </div>
            </div>
                <div class="row">
                <div class="col-xl-12">
                    <h1 class="JEM">E</h1>
                    <h2 class="ember">mber</h2>
                </div>
            </div>
                <div class="row">
                <div class="col-xl-12">
                    <h1 class="JEM">M</h1>
                    <h2 class="mysql">ySQL</h2>
                </div>
            </div>
            </div>-->
        <div class="caption">
            <span class="border">JEM-Music</span>
            
        </div>
    </div>


    <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: Center;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <h2 class="arrow_down">&#x25BD;</h2>
                        <h2 style="display: inline">EVERYBODY DO THE FLOP</h2>
                        <h2 class="arrow_down">&#x25BD;</h2>
                    </div>
                </div>
            </div>
            <div class="row" >
                    <div class="col-sm text-center nav-text" {{action "transitionTo" "tracks"}}>
                        TRACKS
                    </div>
                    <div class="col-sm text-center nav-text" {{action "transitionTo" "albums"}}>
                        ALBUMS
                    </div>
                    <div class="col-sm text-center nav-text" {{action "transitionTo" "artists"}}>
                        ARTISTS
                    </div>
            </div>
    </div>

    <div class="bgimg-2">
        <div class="caption">
            <span class="border" style="background-color:rgba(165, 163, 163, 0.671);font-size:25px;color: #f7f7f7;">LOREM IPSUM</span>
        </div>
    </div>
    <div style="position:relative;">
        <div class="container-fluid" style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: center;">
            <div class="row">
                <div class="col">
                    <h2 style="color:#fff">Lorem Ipsum</h2>
                </div>
            </div>
            <div class="row index_triple_box">
                <div class="col triple_box ml-10">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at leo ullamcorper, finibus metus eu,
                        elementum ligula. Donec ut dictum ipsum, eu tincidunt sapien. Donec commodo fringilla lobortis. Morbi
                        id dui hendrerit, dictum dolor nec, aliquam tortor. Etiam ex metus, facilisis a lacus sed, vulputate.</span>
                </div>
                <div class="col triple_box">
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at leo ullamcorper, finibus metus eu, elementum ligula. Donec
                        ut dictum ipsum, eu tincidunt sapien. Donec commodo fringilla lobortis. Morbi id dui hendrerit, dictum
                        dolor nec, aliquam tortor. Etiam ex metus, facilisis a lacus sed, vulputate.
                    </span>
                </div>
                <div class="col triple_box mr-10">
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at leo ullamcorper, finibus metus eu, elementum ligula. Donec
                        ut dictum ipsum, eu tincidunt sapien. Donec commodo fringilla lobortis. Morbi id dui hendrerit, dictum
                        dolor nec, aliquam tortor. Etiam ex metus, facilisis a lacus sed, vulputate.
                    </span>
                </div>
            </div>
        </div>
    </div>


    <div class="bgimg-3">
        <div class="caption">
            <span class="border" style="background-color:rgb(45, 75, 100);font-size:25px;color: #f7f7f7;">PLEASE LORD HELP ME</span>
        </div>
    </div>

        <div style="position:relative;">
        <div style="color:#ddd;background-color:rgb(45, 75, 100);text-align:center;padding:50px 80px;">
            <h2 style="color:#fff; text-align:center;">Hello!</h2>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consectetur felis id mauris bibendum, at finibus
                mi luctus. Fusce convallis luctus nibh, eget eleifend purus accumsan id. Maecenas ut lacus non neque convallis
                consectetur sed ut turpis. Integer pellentesque nulla lorem, non tincidunt sem commodo.</p>
            <br>
            <h2 style="margin-top: 3%; color:#fff">Something else can be said here!</h2>

        </div>
    </div>
</div>
