
<h1 {{action "transitionTo"}}>GO BACK HOME</h1>
{{#if error}}
    <h3 style="color:red">A loading derp has occurred</h3>
{{/if}}
<div class="container-fluid">
    {{models-table 
    data=model 
    columns=columns
    themeInstance=themeInstance
    showGlobalFilter=false
    filteringIgnoreCase = true
    customComponent=(component "music-preview")
    }}

</div>


{{#if loading}}
    {{loader-icon}}
{{/if}}