{{#if error}}
    <h3 style="color:red">A loading derp has occurred</h3>
{{/if}}
{{notification-container position="bottom-left"}}
<div class="container-fluid music-table">
    {{models-table 
    data=model 
    columns=columns
    themeInstance=themeInstance
    showGlobalFilter=false
    filteringIgnoreCase = true
    customComponent=(component "music-preview")
    customComponent=(component "edit-table-row")
    customComponent=(component "delete-table-row")
    }}

</div>


{{#if loading}}
    {{loader-icon}}
{{/if}}