
<h1 {{action "transitionTo"}}>GO BACK HOME</h1>

<div class="container-fluid">
    {{models-table 
    data=model 
    columns=columns
    themeInstance=themeInstance
    showGlobalFilter=false
    filteringIgnoreCase = true
    }}

</div>

