
{{#if (await record.album)}}
    {{#if source}}
        <audio controls><source src="{{source}}" type="audio/mp3" ></audio>
    {{else}}
        <h5>Preview unavailable</h5>
    {{/if}}
{{else}}
    {{ember-spinner}}
{{/if}}
