<button {{action "showModal"}}>
    Login to Spotify
</button>

{{#if showModal}}

    {{#bs-modal as |modal|}}
        {{#modal.header onClose=(action 'hideModal')}}
            <h4 class="modal-title"><i class="glyphicon glyphicon-alert"></i> Alert</h4>
        {{/modal.header}}
        {{#modal.body}}Are you absolutely sure you want to do that???{{/modal.body}}
        {{#modal.footer as |footer|}}
            {{#bs-button (action modal.close) type="danger"}}Oh no, forget it!{{/bs-button}}
            {{#bs-button type="success"}}Yeah!{{/bs-button}}
        {{/modal.footer}}
    {{/bs-modal}}
{{/if}}

