<button class="btn btn-outline-danger" {{action "showModal"}}>Remove</button>

{{#if showModal}}
    {{#bs-modal onSubmit=(action "submit") onHide=(action "close") as |modal|}}
        {{#modal.header}}
            <h4 class="modal-title"><i class="glyphicon glyphicon-alert"></i> Edit Track</h4>
        {{/modal.header}}
        {{#modal.body}}
            <h3>This will delete the following record:</h3>
            <ul>
                <li><h5>{{record.Name}}</h5></li>
            </ul>
        {{/modal.body}}
        {{#modal.footer as |footer|}}
            {{#bs-button onClick=(action "close") type="danger"}}Cancel{{/bs-button}}
            {{#bs-button onClick=(action "submit") type="success"}}Confirm{{/bs-button}}
        {{/modal.footer}}
    {{/bs-modal}}
{{/if}}

{{yield}}