{{yield}}

{{#if authenticated}}
    <button class="btn btn-confirm btn-md" onClick={{action "showModal" "add-track-modal"}}>Add Track</button>
{{/if}}

{{#if modal}}
    {{component modal closeModal=(action "closeModal")}}
{{/if}}